"*":
  "atom-beautify":
    css:
      beautify_on_save: true
    html:
      beautify_on_save: true
    js:
      indent_with_tabs: true
      jslint_happy: true
      max_preserve_newlines: 2
  "atom-ternjs":
    useSnippets: true
  "color-picker":
    abbreviateValues: true
    automaticReplace: true
  core:
    telemetryConsent: "no"
    uriHandlerRegistration: "always"
  editor:
    fontSize: 18
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "ae468fa3-58f0-4beb-b3d4-902d13a9bb0d"
  "linter-eslint":
    autofix: {}
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
